{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/home.css' %} ">
    <title>about</title>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="brand">
                    SPORTSWEB
                <img src="{% static 'img/logo1.png' %}" alt="not available">
                </div>
            </div>
            <div class="right-side">
                <div class="nav-link-wrapper active-nav-link">

                    <a href="home-page.html">Home</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">About Us</a>
                </div>
                    <div class="nav-link-wrapper">
                         <a href="#">Mission</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">Registration</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">Training</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-img-wrapper">
                    <img src="{% static 'img/girl.jpg'" alt=" Not Found">

                </div>
                <div class="profile-content-warpper">
                    <h1>Hi, thanks fro visiting my website</h1>
                  <p> Maciej Duszynski, CPRW, is a career advice writer and a resume expert at Zety. He is a certified professional resume writer (CPRW) with over 8 years of experience in hiring, recruitment, and training. Maciej shares insider HR knowledge to make every job hunter professionally equipped for the job search. His insights have been featured by the Chicago Tribune, Toggl, SparkPeople, Referral Rock, and Databox, among others.</p>

                 <p>Maciej holds a degree in English and specializes in communication and education management. He has worked with job seekers at all stages of their career paths, from interns to directors to C-suite members.</p>

                  <p>His mission is to help you find the right opportunity and create a job application that gets you the career you deserve.</p>

                </div>
            </div>
            </div>
        </div>
    </div>
    
</body>

</html>
