<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>

  <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %} ">
  
  <link rel="stylesheet" type="text/css"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
    
 
</head>
<body>
  <div class="menu-bar">
  
    <ul>
      <!--<li><img src="img/logo1.png" alt="not found"></li>-->
      <li class="active"><a href="">Home</a><i class="fa fa-home"></i></li>
      <li><a href="#">About Us</a><i class="fa fa-user"></i>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">Mission</a></li>
          <li><a href="#">Vission</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>
      </li>
      <li><a href="#">Services</a><i class="fa fa-clone"></i>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Mission</a></li>
            <li><a href="#">Vission</a></li>
            <li><a href="#">Team</a></li>
          </ul>
        </div></li>
      <li><a href="#">Clients</a><i class="fa fa-users"></i></li>
      <li><a href="#">Registration</a><i class="fa fa-angellist"></i></li>
      <li><a href="#">Training</a><i class="fa fa-edit"></i></li>
      <li><a href="#">Contact Us</a><i class="fa fa-phone"></li>
    </ul> 

  </div>
   
</body>
</html>